body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero, .hero-2, .footer {
    background-color: #1f2937;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-link-text {
    padding-left: 100px;
}

.header-link-text > ul {
    display: flex;
    gap: 15px;
    list-style: none;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.hero-2-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-2-right {
    border-radius: 10px;
}

.hero-button {
    font-size: 14px;
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 8px;
}

.hero-secondary-text, .header-link-text {
    font-size: 18px;
    color: #e5e7eb;    
    margin-top: 10px;    
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8; 
}

.information-header-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding-top: 25px;
}

.section-2-images {
    display: flex;
    gap: 30px;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
}

.random-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.random-content > img {
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.text {
    width: 100px;
    padding-top: 10px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 225px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.call-to-action {
    padding: 80px 175px;
}

.call-box {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 40px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.call-box-main {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.call-box-secondary {
    font-size: 24;
    margin: 0;
}

.call-button {
    font-size: 18px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    padding: 8px 20px;
    border-radius: 8px;
}

.footer {
    color: #e5e7eb; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}